.grid {
    display: grid;
    grid-template-areas: 
    "header" 
    "content" 
    "footer";
}

/*------------------------ navigation -----------------------------*/
nav {
    grid-area: "header";
    display: flex;
    justify-content:space-between;
    background-color: #e0e0e0;
    color: #616161;
}

nav ul {
    display: flex;
    list-style:none;
    margin-top: 1.2rem;
    letter-spacing: 0.2rem;
}
nav ul li {
    margin: 0.5rem;
    font-size: 1.1rem;
}

nav h1 {
    letter-spacing: 0.15rem;
    margin-left: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: #212121;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 1rem; /*denne fiksa at den blå fargen ble større*/
}

nav a:hover {
    color: white;
    background-color: teal;
    padding: 2rem;
}

/*------------------------ main --------------------------------------*/

main {
    grid-area: "content";
    padding: 1rem;
}

.recipe {
    display: flex;
    flex-wrap: wrap;
    box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.5rem;
}

header h1 {
    font-size: 1.9rem;
    margin-left: 1.4rem;
}

.recipe header {
    flex-basis: 100%; /*denne sørger for at tittelen alltid er i toppen*/
    /*background-color: #dbdbdb1e;*/
}

.recipe .ingredients {
    max-width: 30rem;
    padding-right: 1rem;
    margin-right: 1rem;
}

.recipe .ingredients h3{
    font-size: 1.4rem;
}

.recipe .ingredients:hover {
    box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.recipe .ingredients li {
    flex-basis: 50%;
}

.recipe .instructions li {
    flex-basis: 50%;
}

.recipe .instructions:hover{
    box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.instructions h3 {
    font-size: 1.4rem;
}

.recipe section li {
    padding: 0.25rem;
}

.recipe .instructions {
    max-width: 45rem;
    padding-right: 1rem;
}

article img {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

article {
    margin-top: 0.7rem;
}

footer a {
    margin-left: 1.8rem;
    letter-spacing: 0.11rem;
}
